<%
    # This is a partial template for producing a dialog to add user defined fields to any form.
    #
    # The following are the local variable this template expects to be set in order to function:
    # dialog_title: The displayed title of the dialog (optional)
    # id_prefix - A string that will be prepended to all ID attributes. Needs to be unique to the page
    # id_postfix - A string that will appended to all ID attributes. Mainly needed if in a viewer panel, as there could be multiple of the same panels. (optional)
    # javascript_object - The javascript object that will contain the functions to be run
    # javascript_function_qualifier - A string that will make the javascript function names unique in their containing object. (optional)
    # show_templates - A boolean to indicate if predefined field templates should be shown to the user. (optional)
    #
    # Four javascript functions must be created to handle the events this template generates. The following names assume 'javascript_function_qualifier' is set to "Sample":
    # cancelInclude_javascript_function_qualifier_FieldsDialog()    [cancelIncludeSampleFieldsDialog()]
    # changed_javascript_function_qualifier_AddFieldsType(value)    [changedSampleAddFieldsType(value)]
    # add_javascript_function_qualifier_Field()                     [addSampleField()]
    # saveInclude_javascript_function_qualifier_FieldsDialog()      [saveIncludeSampleFieldsDialog()]
    #
    # This javascript function is only required if the show_templates variable is true. The options for the templates must also be set programmatically
    # add_javascript_function_qualifier_Template                    [addSampleTemplate()]
    #
    # This form is hidden (with the .hide class) and absolutely positioned by default. The form will need to be displayed and positioned in javascript
    # A javascript function will also be needed that generates the list of checkboxes that represent the fields the user wants to add to the form in the select_included_fields section

    if !defined?(dialog_title)
        dialog_title = 'Add Fields'
    end

    if !defined?(id_postfix)
        id_postfix = ''
    end

    if !defined?(javascript_function_qualifier)
        javascript_function_qualifier = ''
    end

    if !defined?(show_templates)
        show_templates = false
    end
%>

<div id="<%= id_prefix %>add_set_fields<%= id_postfix %>" class="komet-add-fields-dialog hide">

    <div class="komet-add-fields-dialog-header">

        <div></div>
        <div class="komet-add-fields-dialog-title"><%= dialog_title %></div>

      <button type="button" class="komet-link-button" onclick="<%= javascript_object + '.cancelInclude' + javascript_function_qualifier + 'FieldsDialog()' %>" aria-label="Remove" title="Remove">
        <div class="glyphicon glyphicon-remove"></div>
      </button>

    </div>
  <fieldset><legend style="width: 0px;height:0px">&nbsp;</legend>
    <div class="komet-add-fields-dialog-body">

        <div class="komet-add-fields-dialog-left-column">

            <% if show_templates %>

                <div class="komet-add-fields-dialog-body-header">Add Fields from Template</div>
                <div class="komet-indent-block">
                    <div>
                        <select id="<%= id_prefix %>add_fields_template<%= id_postfix %>" class="form-control">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default" aria-label="Use Template" onclick="<%= javascript_object + '.add' + javascript_function_qualifier + 'Template()' %>">Use Template</button>
                    </div>
                </div>
                <br>
            <% end %>

            <div class="komet-add-fields-dialog-body-header">Added Fields</div>

            <!--<div><a class="komet-add-fields-dialog-select-all" onclick="return false;">Select All</a></div>-->

            <div id="<%= id_prefix %>select_included_fields<%= id_postfix %>" class="komet-indent-block"></div>

        </div>

        <div class="komet-add-fields-dialog-middle-column">

            <div class="komet-add-fields-dialog-body-header">OR</div>
            <hr>
        </div>

        <div class="komet-add-fields-dialog-right-column">

            <div class="komet-add-fields-dialog-body-header">Add from Existing Code Sets</div>

            <div>
                <label for="<%= id_prefix %>add_fields_data_type<%= id_postfix %>">Type</label>
                <select id="<%= id_prefix %>add_fields_data_type<%= id_postfix %>"  class="form-control">
                    <option value="BOOLEAN">Boolean</option>
                    <option value="UUID">Concept</option>
                    <option value="DOUBLE">Double</option>
                    <option value="FLOAT">Float</option>
                    <option value="INTEGER">Integer</option>
                    <option value="LONG">Long</option>
                    <option value="STRING" selected>String</option>
                </select>
            </div>

            <div>
                <autosuggest id-base="<%= id_prefix %>add_fields_label" id-postfix="<%= id_postfix %>" label="Label (Alphanumeric, hyphen, and dash)"></autosuggest>
            </div>

            <div>
                <label for="<%= id_prefix %>add_fields_required<%= id_postfix %>">Required</label>
                <input id="<%= id_prefix %>add_fields_required<%= id_postfix %>" type="checkbox" value="true">
            </div>

            <!--<div id="<%#= id_prefix %>add_fields_options_section<%#= id_postfix %>" class="hide">
                <label for="<%#= id_prefix %>add_fields_options<%#= id_postfix %>">Options (Comma separated list)</label>
                <input type="text" id="<%#= id_prefix %>add_fields_options<%#= id_postfix %>" class="form-control" value="">
            </div>-->

            <div>
                <button type="button" class="btn btn-default" aria-label="Add field" onclick="<%= javascript_object + '.add' + javascript_function_qualifier + 'Field()' %>">Add Field</button>
            </div>
        </div>

    </div>
    </fieldset>
    <div class="komet-add-fields-dialog-footer">

        <button class="btn btn-default" type="button" aria-label="Save button" onclick="<%= javascript_object + '.cancelInclude' + javascript_function_qualifier + 'FieldsDialog()' %>">Cancel</button>
        <button class="btn btn-primary" type="button" aria-label="Cancel button" onclick="<%= javascript_object + '.saveInclude' + javascript_function_qualifier + 'FieldsDialog()' %>">Save</button>

    </div>
</div>