<div class="panel panel-default komet-no-margins komet-panel" data-komet-viewer-id="<%= @viewer_id %>" id="komet_viewer_<%= @viewer_id %>" >
    <div class="panel-heading">
     <span class="panel-title komet-section-title">Create Concept
      </span>
    </div>
    <div class="panel-body">

        <div id="savecancelDiv" style="width: 750px ; float: right">All fields required except where noted as Optional.
          <button type="button" class="btn btn-primary" onclick="WindowManager.closeViewer(<%= @viewer_id %>)">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="ConceptViewer.prototype.showHideConceptBtn('yesnolDiv')">Save</button>
        </div>
      <div id="yesnolDiv" style="width: 750px ; float: right">Are you sure you want to commit changes?
        <button type="button" class="btn btn-primary" onclick="ConceptViewer.prototype.showHideConceptBtn('savecancelDiv')">No</button>
        <button type="button" class="btn btn-primary" onclick="ConceptViewer.prototype.saveConcept()">Yes</button>
      </div>
      <BR><BR>
      <div>
        <div id="komet_concept_lineage_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-lineage-panel">

        <div style="width:350px;">
        <input id="taxonomy_lineage_id" class="hide" />
         <div style="float: left"> Parent</div><BR><div  id="taxonomy_search_assemblage_fields" class="input-group">

          <input id="taxonomy_lineage_display" class="form-control"  />

            <div class="input-group-btn komet-search-combo-field">

              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>

              <ul id="taxonomy_lineage_recents" class="dropdown-menu dropdown-menu-right">
              </ul>

            </div><!-- /btn-group -->
          </div><!-- /input-group --><br>
        </div>
      </div>


        <div class="komet-concept-description-title"> <BR><BR>DESCRIPTIONS</div>
         <div  class="komet-concept-section-panel komet-concept-description-panel">
           <!-- main header block - always visible -->
         <div>
           <div >
             Description Text<BR> <input id="txtDescription" style="width:300px" type="text"><Br><br>
           </div>
           <div>Description Type: (optional)<BR><select style="width:300px" id="ddlDescriptionT">
             <option value="FSN">FSN</option>
           </select></div>
         <div><br><br>
           Fully Specified Name: <div   id="taxonomy_fsn_text"></div><br>
           Preferred Name: <div   id="taxonomy_pn_text"></div><br><br>
          </div><BR><BR>

        </div>
       </div>
    </div>
</div>

</div>

<script>
  WindowManager.viewers[<%= @viewer_id %>].setPanelState('komet_viewer_<%= @viewer_id %>', null, WindowManager.viewers[<%= @viewer_id %>].createConcept(WindowManager.viewers[<%= @viewer_id %>]));
</script>


