<div id="komet_user_preference_form">
    <div id="komet_preferences_tabs" role="tab">
        <ul>
            <li><a href='#komet_preferences_general_tab'>General Options</a></li>
            <li><a href='#komet_preferences_module_tab'>Module Flags</a></li>
            <li><a href='#komet_preferences_path_tab'>Path Flags</a></li>
            <li><a href='#komet_preferences_refset_tab'>Refset Flags</a></li>
        </ul>

        <form action="<%= taxonomy_set_coordinates_token_path %>">

            <div id="komet_preferences_general_tab">

                <div class="komet-row">
                    <label for="komet_preferences_language" class="komet-preference-label">Select Language:</label>
                    <%= select_tag :komet_preferences_language, options_for_select(session[:komet_language_options], @language_coordinate), class: 'form-control', 'aria-label' => 'Select Language' %>
                </div>

                <div class="komet-row">

                    <label for="komet_preferences_stamp_date_field" class="komet-preference-label">STAMP as of Date:</label>

                    <div class='input-group date' id='komet_preferences_stamp_date'>
                        <input type='text' id="komet_preferences_stamp_date_field" name="time" class="form-control" aria-label="STAMP Date">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>

                </div>

                <div class="komet-row">

                    <div class="komet-label komet-preference-label">Allowed States:</div>

                    <div>
                        <input type="radio" id="komet_allowed_states_both" name="allowed_states" aria-label="Show All States" value="active,inactive"> <label for="komet_allowed_states_both">All</label>
                        <input type="radio" id="komet_allowed_states_active" name="allowed_states" aria-label="Show Active States" value="active" class="komet-indent-block"> <label for="komet_allowed_states_active">Active</label>
                    </div>

                </div>

                <div class="komet-row">

                    <div class="komet-label komet-preference-label">Auto Assign VUID:</div>

                    <div>
                        <input type="radio" id="komet_generate_vuid_true" name="generate_vuid" aria-label="Auto Assign VUID On" value="true"> <label for="komet_generate_vuid_true">On</label>
                        <input type="radio" id="komet_generate_vuid_false" name="generate_vuid" aria-label="Auto Assign VUID Off" value="false" class="komet-indent-block"> <label for="komet_generate_vuid_false">Off</label>
                    </div>

                </div>

                <!-- start Description Type order control -->
                <div class="komet-row komet-order-control-header">
                    <div class="komet-order-control-rank">Rank</div>
                    <div class="komet-order-control-text">Description Type</div>
                </div>

                <div class="komet-order-control-body">

                    <% @description_type_options.each do |description_type| %>

                        <div class="komet-row">

                            <div class="komet-order-control-rank">

                                <button type="button" class="komet-link-button komet-change-order komet-change-order-up" onclick="UIHelper.moveRowOrderControl(this, 'up')" aria-label="Move <%= description_type[:text] %> Rank Up" title="Move Up">
                                    <div class="glyphicon glyphicon-arrow-up"></div>
                                </button>

                                <button type="button" class="komet-link-button komet-change-order komet-change-order-down" onclick="UIHelper.moveRowOrderControl(this, 'down')" aria-label="Move <%= description_type[:text] %> Rank Down" title="Move Down">
                                    <div class="glyphicon glyphicon-arrow-down"></div>
                                </button>

                            </div>

                            <div class="komet-order-control-text">
                                <%= description_type[:text] %>
                                <input type="hidden" name="description_type[<%= description_type[:concept_sequence] %>]" value="<%= description_type[:concept_sequence] %>" />
                            </div>

                        </div>

                    <% end %>
                </div>
                <!-- end Description Type order control -->

                <!-- start Dialect order control -->
                <div class="komet-row komet-order-control-header">
                    <div class="komet-order-control-rank">Rank</div>
                    <div class="komet-order-control-text">Dialect</div>
                </div>

                <div class="komet-order-control-body">

                    <% @dialect_options.each do |dialect| %>

                        <div class="komet-row">

                            <div class="komet-order-control-rank">

                                <button type="button" class="komet-link-button komet-change-order komet-change-order-up" onclick="UIHelper.moveRowOrderControl(this, 'up')" aria-label="Move <%= dialect[:text] %> Rank Up" title="Move Up">
                                    <div class="glyphicon glyphicon-arrow-up"></div>
                                </button>

                                <button type="button" class="komet-link-button komet-change-order komet-change-order-down" onclick="UIHelper.moveRowOrderControl(this, 'down')" aria-label="Move <%= dialect[:text] %> Rank Down" title="Move Down">
                                    <div class="glyphicon glyphicon-arrow-down"></div>
                                </button>

                            </div>

                            <div class="komet-order-control-text">
                                <%= dialect[:text] %>
                                <input type="hidden" name="dialect[<%= dialect[:concept_sequence] %>]" value="<%= dialect[:concept_sequence] %>" />
                            </div>

                        </div>

                    <% end %>
                </div>
                <!-- end Description Type order control -->

            </div>

            <!-- start Module Flags section -->
            <div id="komet_preferences_module_tab">

                <!-- add the flag control widget for modules -->
                <%= render(partial: 'komet_dashboard/flag_control_template', locals: {
                    flag_data: @module_flags,
                    field_id_prefix: 'komet_preferences_module',
                    field_name_prefix: 'module_flags',
                    flag_item_header: 'Module'
                }) %>

            </div>

            <div id="komet_preferences_path_tab">

                <!-- add the flag control widget for paths -->
                <%= render(partial: 'komet_dashboard/flag_control_template', locals: {
                    flag_data: @path_flags,
                    field_id_prefix: 'komet_preferences_path',
                    field_name_prefix: 'path_flags',
                    flag_item_header: 'Path'
                }) %>

            </div>

            <div id="komet_preferences_refset_tab">

                <!-- add the flag control widget for paths -->
                <%= render(partial: 'komet_dashboard/flag_control_template', locals: {
                    flag_data: @refset_flags,
                    field_id_prefix: 'komet_preferences_refset',
                    field_name_prefix: 'refset_flags',
                    flag_item_header: 'Refset',
                    use_template_rows: true
                }) %>

            </div>

        </form>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#komet_allowed_states_<%= @allowed_states %>")[0].checked = true;
        $("#komet_generate_vuid_<%= @generate_vuid %>")[0].checked = true;
        $("#komet_preferences_path_tab").find('.komet_color_picker').minicolors();
        PreferenceModule.initialize("<%= @stamp_date%>");
    });
</script>