<div id="concept_details_concept_text"><%= @concept_details[:description] %></div>

<br>

<div id="concept_details_concept_id">

  <%= @concept_details[:concept_id] %>,
  <%= @concept_details[:status] %>
</div>

<br><br>

<% if @concept_details[:refsets] == nil %>
    <div class="ets-no-data-message">No Refsets.</div>
<% else %>

    <% @concept_details[:refsets].each do |refset| %>

        <div class="concept-section-title"><%= refset[:title] %></div>

        <table class="concept_detail_table">
          <thead>
          <tr>
            <th>Term</th>
            <th>SCTID</th>
            <th>Acceptability</th>
          </tr>
          </thead>
          <tbody>

          <% refset[:members].each do |member| %>

              <%= member[:name] %>
              <tr>
                <td>

                  <%= member[:type] %>

                  <% case member[:icon] when 'preferred_full' %>

                      <span class="glyphicon glyphicon-star"></span>

                  <% when 'preferred_empty' %>

                      <span class="glyphicon glyphicon-star-empty"></span>

                  <% when 'acceptable' %>

                      <span class="glyphicon glyphicon-ok"></span>

                  <% end %>

                  <%= member[:term] %>
                </td>

                <td><%= member[:concept_id] %></td>

                <td><%= member[:acceptability] %> <span class="glyphicon glyphicon-info-sign pull-right"></span></td>
              </tr>

          <% end %>

          </tbody>
        </table>

        <br><br>

    <% end %>

<% end %>

<% if @concept_details[:types].empty? %>
    <div class="ets-no-data-message">No relationships.</div>
<% else %>

    <table class="concept_detail_table">
      <thead>
      <tr>
        <th>Type</th>
        <th>Destination</th>
        <th>Group</th>
        <th>CharType</th>
      </tr>
      </thead>
      <tbody>

      <% @concept_details[:types].each do |member| %>
          <tr>
            <td><%= member[:type] %></td>
            <td><%= member[:destination] %></td>
            <td><%= member[:group] %></td>
            <td><%= member[:char_type] %> <span class="glyphicon glyphicon-info-sign pull-right"></span></td>
          </tr>
      <% end %>

      </tbody>
    </table>

<% end %>
