<h1>EtsDashboard#metadata</h1>
<p>Rails root is: <%=Rails.root%></p>
<p>Rails environment is <%=Rails.env%></p>
<p>Environment variable RAILS_SERVE_STATIC_FILES=<%=ENV['RAILS_SERVE_STATIC_FILES']%></p>
<p>Environment variable RAILS_RELATIVE_URL_ROOT=<%=ENV['RAILS_RELATIVE_URL_ROOT']%></p>
<p>Rails root_path is? <%=root_path%></p>
