<%= form_tag('/search', method: 'get', id: 'komet_taxonomy_search_form') do %>

    <div class="komet-search-combo-row">

        <div class="komet-search-combo-column">

            <div id="taxonomy_search_combo_field">
                <%= label_tag :taxonomy_search_text, 'Search Text:' %>
                <%= text_field_tag (:taxonomy_search_text) %>
            </div>


        </div>

        <div class="komet-flex-right">
            <button class="btn btn-primary">Search</button>
        </div>

    </div>

    <div id="taxonomy_search_options_pane">

        <h3>Advanced Options</h3>

        <div class="komet-accordion-panel">

            <div class="komet-floated-bar">
                <%= label_tag :taxonomy_search_type, 'Search In:' %>
                <%= select_tag :taxonomy_search_type, options_for_select([['Descriptions', 'descriptions'], ['Sememes', 'sememes'], ['Identifiers', 'identifiers']], 'descriptions'), :onchange => 'TaxonomySearchModule.changeSearchType(this)' %>

                <div class="pull-right">
                    <%= label_tag :taxonomy_search_page_size, 'Page Size:' %>
                    <%= select_tag :taxonomy_search_page_size, options_for_select([['25'], ['50'], ['100'], ['250'], ['500'], ['1000']], '25') %>
                </div>
            </div>

            <div id="taxonomy_search_option_description_type_fields">
                <%= label_tag :taxonomy_search_description_type, 'Description Type:' %>
                <%= select_tag :taxonomy_search_description_type, options_for_select([['All Types', 'all'], ['Fully Specified Name', 'fsn'], ['Synonym', 'synonym'], ['Definition', 'definition']], 'all') %>
            </div>

        <span id="taxonomy_search_sememe_fields">

            <div>
                <%= label_tag :taxonomy_search_treat_as_string, 'Treat Search Text as String:' %>
                <%= select_tag :taxonomy_search_treat_as_string, options_for_select([['True', 'true'], ['False', 'false']], 'false') %>
            </div>

            <autosuggest id-base="taxonomy_search_assemblage" label="Search Assemblage:"></autosuggest>

        </span>

        </div>

    </div>


<% end %>

<br>
<button type="button" id="taxonomy_search_export" onclick="TaxonomySearchModule.exportCSV()">CSV Export</button>
<div id="taxonomy_search_results" style="height: 450px;" class="ag-fresh"></div>

<script>

    $(document).ready(function () {
        TaxonomySearchModule.initialize();
    });

</script>
