<%= form_tag('/search', method: 'get', id: 'komet_taxonomy_search_form') do %>
 
    <div class="komet-search-combo-row">

        <div class="komet-search-combo-column">

            <div id="taxonomy_search_combo_field">
                <%= label_tag :taxonomy_search_text, 'Search Text:' %>
                <%= text_field_tag (:taxonomy_search_text) %>
            </div>


        </div>

        <div class="komet-flex-right">
            <button class="btn btn-primary">Search</button>
        </div>

    </div>

    <div id="taxonomy_search_options_pane">

        <h3>Advanced Options</h3>

        <div class="komet-accordion-panel">

            <div class="komet-floated-bar">
                <%= label_tag :taxonomy_search_type, 'Search In:' %>
                <%= select_tag :taxonomy_search_type, options_for_select([['Descriptions', 'descriptions'], ['Sememes', 'sememes'], ['Identifiers', 'identifiers']], 'descriptions'), :onchange => 'TaxonomySearchModule.changeSearchType(this)', :title => 'Select the type search to make. Changing this field will provide different options below.' %>

                <div class="pull-right">
                    <%= label_tag :taxonomy_search_page_size, 'Page Size:' %>
                    <%= select_tag :taxonomy_search_page_size, options_for_select([['25'], ['50'], ['100'], ['250'], ['500'], ['1000']], '25') %>
                </div>
            </div>

            <div id="taxonomy_search_option_description_type_fields">
                <%= label_tag :taxonomy_search_description_type, 'Description Type:' %>
                <%= select_tag :taxonomy_search_description_type, options_for_select([['All Types', 'all'], ['Fully Specified Name', 'fsn'], ['Synonym', 'synonym'], ['Definition', 'definition']], 'all') %>
            </div>

            <div id="taxonomy_search_sememe_fields">

                <div>
                    <%= label_tag :taxonomy_search_treat_as_string, 'Treat Search Text as String:' %>
                    <%= select_tag :taxonomy_search_treat_as_string, options_for_select([['True', 'true'], ['False', 'false']], 'false') %>
                </div>

                <autosuggest id-base="taxonomy_search_assemblage" label="Search Assemblage:"></autosuggest>

            </div>

            <div id="taxonomy_search_id_fields">

                <div>

                    <%= label_tag :taxonomy_search_id_type, 'Type of ID:' %>
                    <%= select_tag :taxonomy_search_id_type, options_for_select([['Any']].concat(session[:komet_taxonomy_options]), 'Any') %>

                </div>

            </div>

            <div class="komet-row">

                <div>
                    <%= label_tag :komet_taxonomy_search_stamp_date_field, 'STAMP Date:' %>
                    <div class='input-group date' id='komet_taxonomy_search_stamp_date'>
                        <input type='text' class="form-control" aria-label="STAMP Date Preference" id='komet_taxonomy_search_stamp_date_field' title="STAMP Date Preference">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="komet-flex-right">

                    <div>
                    <%= label_tag :komet_taxonomy_search_allowed_states, 'Allowed States:' %>
                    <%= select_tag('komet_taxonomy_search_allowed_states', options_for_select(session[:komet_all_allowed_states_options], @view_params[:allowedStates]), class: 'form-control komet-preference-allowed-states', 'aria-label' => 'Choose an active status to view', title: 'Choose an active status to view') %>
                    </div>
                </div>
            </div>

            <div class="komet-row">

                <%= label_tag :komet_taxonomy_search_stamp_modules, 'Modules:' %>
                <%= select_tag('komet_taxonomy_search_stamp_modules', options_for_select(session[:komet_module_options], @view_params[:modules]), multiple: true, class: 'form-control komet-preference-modules', 'aria-label' => 'Choose module to view', title: 'Choose module to view') %>

            </div>

            <div class="komet-row hide">

                 <%= label_tag :komet_taxonomy_search_stamp_path, 'Path:' %>
                 <%= select_tag('komet_taxonomy_search_stamp_path', options_for_select(session[:komet_path_options], @view_params[:path]), include_blank: true, class: 'form-control komet-preference-path', 'aria-label' => 'Choose path to view', title: 'Choose path to view') %>

            </div>

        </div>

    </div>

<% end %>

<br>
<button type="button" id="taxonomy_search_export" onclick="TaxonomySearchModule.exportCSV()">CSV Export</button>
<span id="komet_taxonomy_search_tab_trigger" tabindex="0"></span>
<div id="taxonomy_search_results" style="height: 450px;" class="ag-fresh"></div>
<div id="taxonomy_search_results_export" class="ag-fresh hide" ></div>
<script>

    $(document).ready(function () {
        TaxonomySearchModule.initialize(<%= raw @view_params.to_json %>);
    });

</script>
