<div class="panel panel-default komet-no-margins komet-panel" id="komet_viewer_<%= @viewer_id %>" data-komet-viewer-id="<%= @viewer_id %>">
    <!-- DO NOT PUT ANYTHING ABOVE THE KOMET VIEWER DIV - IT WILL BREAK WINDOWING WHEN CLOSING VIEWERS AND BE REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER -->

    <div class="panel-heading">
    <span class="panel-title komet-section-title">
        <span id="komet_mapping_panel_tree_link_<%= @viewer_id %>" class="fa fa-chain-broken" onclick="WindowManager.toggleViewerLinkage('<%= @viewer_id %>', WindowManager.getLinkedViewerID() != '<%= @viewer_id %>');" title="Viewer linked to Mapping Tree. Click to unlink."></span>
        <span id="komet_mapping_panel_tree_show_<%= @viewer_id %>" class="fa fa-tree" onclick="WindowManager.viewers[<%= @viewer_id %>].showInMappingTree();" title="Show in Mapping Tree"></span>
        <%= @viewer_title %>
    </span>

        <div class="komet-panel-tools">
            <!--<div class="glyphicon glyphicon-new-window"></div>
            <div class="glyphicon glyphicon-resize-full"></div>-->
            <div class="glyphicon glyphicon-remove" onclick="WindowManager.closeViewer('<%= @viewer_id %>')"></div>
        </div>
    </div>

    <div id="komet_mapping_viewer_body_<%= @viewer_id %>" class="komet-mapping-viewer-body panel-body"></div>

    <script>

        if (!WindowManager.viewers.hasOwnProperty('<%= @viewer_id %>') || !(WindowManager.viewers[<%= @viewer_id %>] instanceof MappingViewer)) {
            MappingModule.createViewer("<%= @viewer_id %>", "<%= @set_id %>", "<%= @mapping_action %>");
        } else {

            WindowManager.viewers[<%= @viewer_id %>].currentSetID = "<%= @set_id %>";

            if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>") {
                WindowManager.viewers["<%= @viewer_id %>"].swapLinkIcon(true);
            }
        }

        if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>" && MappingModule.tree.selectedSetID != WindowManager.viewers[<%= @viewer_id %>].currentSetID) {
            WindowManager.viewers[<%= @viewer_id %>].showInMappingTree();
        }

        var SET_LIST = 'komet_dashboard/mapping/map_set_list';
        var SET_DETAILS = 'komet_dashboard/mapping/map_set_details';
        var SET_EDITOR = 'komet_dashboard/mapping/map_set_editor';
        var ITEM_EDITOR = 'komet_dashboard/mapping/map_item_editor';

        <%
            if @mapping_action == 'set_list'
                partial = 'komet_dashboard/mapping/map_set_list'
            else
                partial = 'komet_dashboard/mapping/map_set_details'
            end
        %>

        $('#komet_mapping_viewer_body_<%= @viewer_id %>').html("<%= j(render(:partial => partial)) %>");

        $(document).ready(function () {

            WindowManager.viewers[<%= @viewer_id %>].restorePanelStates();
            UIHelper.initializeContextMenus();
        });
    </script>

    <!-- DO NOT PUT ANYTHING ABOVE THE BELOW THIS LAST DIV - IT WILL GET REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER-->
</div>