<div id="komet_mapping_section_<%= @viewer_id %>">

    <% if @map_set != nil %>

        <%= form_tag(mapping_process_map_set_path, method: 'post', id: "komet_mapping_set_editor_form_#{@viewer_id}", class: 'komet-mapping-set-details-form') do %>

            <div id="komet_mapping_set_panel_<%= @viewer_id %>" class="komet-mapping-section-panel">

                <!-- main header block - always visible -->
                <div class="komet-mapping-section-panel-header">

                    <!-- Title -->
                    <div class="komet-mapping-section-panel-title">
                        Map Set Details
                    </div>

                    <div class="komet-mapping-section-panel-tools komet-flex-right">

                        <!-- expand/collapse icon - controls details drawer -->
                        <button type="button" class="komet-link-button" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_mapping_set_panel_<%= @viewer_id %>', null, true)" aria-label="Expand/Collapse map set details section">
                            <div class="glyphicon glyphicon-minus-sign"></div>
                        </button>
                    </div>

                </div>

                <%= hidden_field_tag :komet_mapping_set_editor_set_id, @map_set[:set_id], id: "komet_mapping_set_editor_set_id_#{@viewer_id}" %>

                <div class="komet-mapping-section-panel-details">

                    <div class="komet-mapping-set-definition-row">

                        <div class="komet-mapping-set-definition-header">
                            <b>UUID:</b> <%= @set_id %>
                        </div>

                        <div class="komet-mapping-set-definition-header">
                            <b>VUID:</b> <%= @map_set[:vuid] %>
                        </div>

                        <div class="komet-mapping-set-definition-header">
                            <%#= label_tag nil, 'Version:' %> <%#= @map_set[:version] %>
                        </div>
                        <% if controller.can_edit_concept? && @view_params[:time] == 'latest' %>
                            <div class="komet-mapping-set-definition-controls">
                                <button class="btn btn-primary komet-mapping-show-on-view" type="button" onclick="WindowManager.viewers[<%= @viewer_id %>].enterSetEditMode()">Edit</button>
                                <button class="btn btn-default komet-mapping-show-on-edit" type="button" onclick="WindowManager.viewers[<%= @viewer_id %>].cancelSetEditMode(this)">Cancel</button>
                                <button class="btn btn-primary komet-mapping-show-on-edit" type="button" onclick="WindowManager.viewers[<%= @viewer_id %>].validateEditForm()" id="komet_mapping_set_editor_save_<%= @viewer_id %>">Save</button>
                            </div>
                        <% end %>
                    </div>

                    <div id="komet_mapping_set_tabs_<%= @viewer_id %>" class="komet-mapping-set-tabs">

                        <ul>
                            <li><a href='#komet_mapping_set_definition_tab_<%= @viewer_id %>' title="Definition Tab">Definition</a></li>
                            <li><a href='#komet_mapping_set_items_tab_<%= @viewer_id %>' title="Item Fields Tab">Item Fields</a></li>
                            <li><a href='#komet_mapping_set_rules_tab_<%= @viewer_id %>' title="Business Rules Tab">Business Rules</a></li>
                        </ul>

                        <div id="komet_mapping_set_definition_tab_<%= @viewer_id %>" class="komet-mapping-set-tab-body">

                            <!-- add the dialog form for including new fields into a mapset -->
                            <%= render(partial: 'komet_dashboard/add_fields_dialog', locals: {
                                dialog_title: 'Add Set Fields',
                                id_prefix: 'komet_mapping_set_editor_',
                                id_postfix: '_' + @viewer_id,
                                javascript_object: 'WindowManager.viewers[' + @viewer_id + ']',
                                javascript_function_qualifier: 'Set'
                            }) %>

                            <div class="komet-mapping-set-definition-controls">
                                <button class="btn btn-default komet-mapping-show-on-edit komet-mapping-show-on-create-only" type="button" onclick="WindowManager.viewers[<%= @viewer_id %>].showIncludeSetFieldsDialog()">Add
                                    More Fields
                                </button>
                            </div>

                            <div class="komet-mapping-set-definition-row">

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_name_#{@viewer_id}", 'Name:' %>
                                    <%= text_field_tag :komet_mapping_set_editor_name, @map_set[:name], id: "komet_mapping_set_editor_name_#{@viewer_id}", class: 'form-control komet-mapping-show-on-edit' %>
                                    <div class="komet-mapping-show-on-view"><%= @map_set[:name] %></div>
                                </div>

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_description_#{@viewer_id}", $isaac_metadata_auxiliary['PURPOSE']['fsn'] %>
                                    <%= text_field_tag :komet_mapping_set_editor_description, @map_set[:description], id: "komet_mapping_set_editor_description_#{@viewer_id}", class: 'form-control komet-mapping-show-on-edit' %>
                                    <div class="komet-mapping-show-on-view"><%= @map_set[:description] %></div>
                                </div>

                            </div>

                            <div class="komet-mapping-set-definition-row komet-mapping-stamp-fields">

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_state_#{@viewer_id}", 'State:' %>
                                    <%= select_tag :komet_mapping_set_editor_state, options_for_select([['Active'], ['Inactive']], @map_set[:state].titlecase), id: "komet_mapping_set_editor_state_#{@viewer_id}", class: 'form-control komet-mapping-show-on-edit' %>
                                    <div class="komet-mapping-show-on-view"><%= @map_set[:state].titlecase %></div>
                                </div>

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_time_#{@viewer_id}", 'Time:' %>
                                    <div id="komet_mapping_set_editor_time_<%= @viewer_id %>"><%= @map_set[:time] %></div>
                                </div>

                            </div>

                            <div class="komet-mapping-set-definition-row komet-mapping-stamp-fields">

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_author_#{@viewer_id}", 'Author:' %>
                                    <div id="komet_mapping_set_editor_author_<%= @viewer_id %>"><%= @map_set[:author] %></div>
                                </div>

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_module_#{@viewer_id}", 'Module:' %>
                                    <div id="komet_mapping_set_editor_module_<%= @viewer_id %>"><%= @map_set[:module] %></div>
                                </div>

                            </div>

                            <div class="komet-mapping-set-definition-row">

                                <div class="komet-mapping-set-definition-item komet-mapping-stamp-fields">
                                    <%= label_tag "komet_mapping_set_editor_path_#{@viewer_id}", 'Path:' %>
                                    <div id="komet_mapping_set_editor_path_<%= @viewer_id %>"><%= @map_set[:path] %></div>
                                </div>

                                <div class="komet-mapping-set-definition-item">
                                    <%= label_tag "komet_mapping_set_editor_comment_#{@viewer_id}", 'Comments:' %>
                                    <%= hidden_field_tag :komet_mapping_set_editor_comment_id, @map_set[:comment_id], id: "komet_mapping_set_editor_comment_id_#{@viewer_id}" %>
                                    <%= text_area_tag :komet_mapping_set_editor_comment, @map_set[:comment], id: "komet_mapping_set_editor_comment_#{@viewer_id}", class: 'form-control komet-mapping-show-on-edit' %>
                                    <div class="komet-mapping-show-on-view"><%= @map_set[:comment] %></div>
                                </div>

                            </div>

                        </div>

                        <div id="komet_mapping_set_items_tab_<%= @viewer_id %>" class="komet-mapping-set-tab-body">

                            <!-- add the dialog form for including new fields into a mapset -->
                            <%= render(partial: 'komet_dashboard/add_fields_dialog', locals: {
                                dialog_title: 'Add Item Fields',
                                id_prefix: 'komet_mapping_set_editor_items_',
                                id_postfix: '_' + @viewer_id,
                                javascript_object: 'WindowManager.viewers[' + @viewer_id + ']',
                                javascript_function_qualifier: 'SetItems',
                                show_templates: true
                            }) %>

                            <div class="komet-mapping-set-definition-controls">
                                <button class="btn btn-default komet-mapping-show-on-edit komet-mapping-show-on-create-only" type="button" onclick="WindowManager.viewers[<%= @viewer_id %>].showIncludeSetItemsFieldsDialog()">Add
                                    More Fields to Map Items
                                </button>
                            </div>

                            <div class="komet-mapping-set-definition-row">
                                <b>Extended Fields:</b>
                            </div>

                        </div>

                        <div id="komet_mapping_set_rules_tab_<%= @viewer_id %>" class="komet-mapping-set-tab-body">
                            <%= text_area_tag :komet_mapping_set_editor_rules, @map_set[:rules], id: "komet_mapping_set_editor_rules_#{@viewer_id}", class: 'form-control komet-mapping-show-on-edit', 'aria-label': "Business Rules" %>
                            <div class="komet-mapping-show-on-view"><%= @map_set[:rules] %></div>
                        </div>

                    </div>
                </div>
            </div>

            <% if @mapping_action != 'create_set' %>

                <%= hidden_field_tag :set_id, @map_set[:set_id], id: "komet_mapping_set_editor_items_set_id_#{@viewer_id}" %>

                <div id="komet_mapping_item_panel_<%= @viewer_id %>" class="komet-mapping-section-panel">

                    <!-- main header block - always visible -->
                    <div class="komet-mapping-section-panel-header">

                        <!-- Title -->
                        <div class="komet-mapping-section-panel-title">
                            Map Items
                        </div>

                        <div class="komet-mapping-section-panel-tools komet-flex-right">

                            <!-- expand/collapse icon - controls details drawer -->
                            <button type="button" class="komet-link-button" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_mapping_item_panel_<%= @viewer_id %>', null, true)" aria-label="Expand/Collapse mapping items section">
                                <div class="glyphicon glyphicon-minus-sign"></div>
                            </button>
                        </div>
                    </div>

                    <div class="komet-mapping-section-panel-details" id="komet_mapping_items_section_<%= @viewer_id %>">

                        <div class="komet-mapping-item-tools komet-mapping-show-on-edit">

                            <% if controller.can_edit_concept? %>

                                <button type="button" class="komet-link-button" id="komet_mapping_overview_item_create_<%= @viewer_id %>" class="fa fa-plus" title="Create New Map Item" onclick="WindowManager.viewers[<%= @viewer_id %>].addItemRow();" aria-label="Create New Map Item">
                                    <div class="fa fa-plus"></div>
                                </button>
                            <% end %>
                        </div>

                        <div id="komet_mapping_items_<%= @viewer_id %>" class="komet-mapping-items-grid">

                            <div class="komet-mapping-item-edit-header-row">

                                <% Array(@map_items[:column_definitions]).each do |column| %>

                                    <div><%= column[:text] %></div>

                                <% end unless @map_items == nil%>

                                <div>Comments</div>
                                <div class="komet-mapping-stamp-fields">State</div>
                                <div class="komet-mapping-stamp-fields">Time</div>
                                <div class="komet-mapping-stamp-fields">Author</div>
                                <div class="komet-mapping-stamp-fields">Module</div>
                                <div class="komet-mapping-stamp-fields">Path</div>
                                <div></div>

                            </div>
                        </div>
                    </div>
                </div>

            <% end %>
        <% end %>

        <script>

            $(document).ready(function () {

                WindowManager.viewers[<%= @viewer_id %>].setEditorMapSet = <%= raw @map_set.to_json %>;
                WindowManager.viewers[<%= @viewer_id %>].initializeSetEditor("<%= @mapping_action %>", <%= raw @map_items.to_json %>);
            });

        </script>

    <% else %>
        The map set could not be loaded with the current view parameters.
    <% end %>

</div>