<div class="komet-concept-section-title komet-concept-attributes-title">CONCEPT</div>

<div id="komet_concept_attributes_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-attributes-panel">

    <!-- main header block - always visible -->
    <div class="komet-concept-section-panel-header">

        <% if @concept_state != '' %>
            <!-- expand/collapse icon - controls details drawer -->
            <button type="button" class="komet-link-button" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_attributes_panel_<%= @viewer_id %>', null, true)" aria-label="Expand" title="Expand">
                <div class="glyphicon glyphicon-plus-sign"></div>
            </button>
        <% end %>

        <!-- Status -->
        <div class="komet-concept-attributes-status">
            <%= @concept_state %>
        </div>

        <!-- Defined -->
        <div class="komet-containing-block">
            <% if @concept_defined == 'Primitive' %>
                <div class="komet-tree-node-icon komet-tree-node-primitive" title="<%= @concept_defined %>"></div> &nbsp; <%= @concept_defined %>
            <% else %>
                <div class="komet-tree-node-icon komet-tree-node-defined" title="<%= @concept_defined %>"></div> &nbsp; <%= @concept_defined %>
            <% end %>
        </div>

    </div>

    <!-- details drawer - can be collapsed -->
    <div class="komet-concept-section-panel-details">

        <div class="komet-concept-attributes-details-row">

            <div class="komet-concept-attributes-details-name">
                <b>UUID:</b> <%= @concept_id %>
            </div>

        </div>

        <% if @terminology_id %>

            <hr class="komet-concept-details-hr" />

            <div class="komet-concept-attributes-details-row">

                <div class="komet-concept-attributes-details-name">
                    <b><%= @terminology_id[:label] %>:</b> <%= @terminology_id[:value] %>
                </div>

            </div>

        <% end %>

        <!-- loop through the attributes attributes -->
        <% @attributes.each_with_index do |attribute, attribute_index| %>

            <hr class="komet-concept-details-hr" />

            <div class="komet-concept-attributes-details-row">

                <div class="komet-concept-attributes-details-name">
                    <b><%= attribute[:label] %>:</b> <%= attribute[:value] %>
                </div>

            </div>

        <% end %>

    </div>

</div>

<script>
    WindowManager.viewers[<%= @viewer_id %>].setPanelState('komet_concept_attributes_panel_<%= @viewer_id %>', null, null);
</script>
