<div class="komet-concept-section-title komet-concept-lineage-title">LINEAGE</div>

<div id="komet_concept_lineage_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-lineage-panel">

    <!-- main header block - always visible -->
    <div class="komet-concept-section-panel-header">

        <!-- expand/collapse icon - controls details drawer -->
        <div class="glyphicon glyphicon-plus-sign" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_lineage_panel_<%= @viewer_id %>', null, true)"></div>

        <!-- description type, refset -->
        <div>
            Parent:
            <span id="concept_lineage_header_text_<%= @viewer_id %>">No Parent</span>
        </div>

    </div>

    <!-- details drawer - can be collapsed -->
    <div class="komet-concept-section-panel-details">

        <div class="komet-concept-lineage-tree-container">
            <div>Parents</div>
            <div id="concept_lineage_parents_tree_<%= @viewer_id %>" class="komet-reverse-tree">No Parents</div>
        </div>

        <div class="komet-concept-lineage-summary-container">
            <div class="komet-concept-lineage-summary-details">

                <div class="komet-concept-lineage-summary-text">

                    <!-- Defined -->
                    <% if @attributes[2][:value] == 'Primitive' %>
                        <div class="komet-tree-node-icon komet-tree-node-primitive" title="<%= @attributes[2][:value] %>"></div>
                    <% elsif @attributes[2][:value] == 'Defined' %>
                        <div class="komet-tree-node-icon komet-tree-node-defined" title="<%= @attributes[2][:value] %>"></div>
                    <% end %>

                    &nbsp; <%= @attributes[0][:value] %>

                </div>

                <div>
                    <% if @attributes[8] %>
                        <%= @attributes[8][:label] %>: <%= @attributes[8][:value] %>
                    <% elsif @attributes[7] %>
                        <%= @attributes[7][:label] %>: <%= @attributes[7][:value] %>
                    <% end %>
                </div>

                <hr class="komet-concept-details-hr">

                <% @descriptions.each do |description| %>
                    <div><%= description[:text] %></div>
                <% end %>

            </div>

            <!--<div class="komet-concept-lineage-summary-attributes">
                  No Attributes
            </div>-->

        </div>

        <div class="komet-concept-lineage-tree-container">
            <div>Children</div>
            <div id="concept_lineage_children_tree_<%= @viewer_id %>">No Children</div>
        </div>

    </div>

</div>

<script>
    WindowManager.viewers[<%= @viewer_id %>].setPanelState('komet_concept_lineage_panel_<%= @viewer_id %>', null, null);
</script>