<% if @concept_refsets[:total_number] > 0 %>

    <div class="komet-concept-section-title komet-concept-associations-title">Refsets</div>

    <div id="komet_concept_refsets_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-associations-panel">

        <!-- main header block - always visible -->
        <div class="komet-concept-section-panel-header">

            <!-- expand/collapse icon - controls details drawer -->
            <button type="button" class="komet-link-button" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_refsets_panel_<%= @viewer_id %>', null, true)" aria-label="Expand" title="Expand">
                <div class="glyphicon glyphicon-plus-sign"></div>
            </button>

            <!-- description type, refset -->
            <div>
                Click here to view refsets
            </div>

        </div>

        <!-- details drawer - can be collapsed -->
        <div class="komet-concept-section-panel-details">

            <span id="komet_refsets_tab_trigger_<%= @viewer_id %>" tabindex="0"></span>
            <div id="refsets_grid_<%= @viewer_id %>" style="height: 350px;" class="ag-fresh"></div> <BR>
            <button id="taxonomy_refset_export" onclick="WindowManager.viewers[<%= @viewer_id %>].exportRefsetCSV()">CSV Export</button>

            <div id="taxonomy_refsets_results_export" class="ag-fresh hide" ></div>

        </div>

    </div>

    <script>
        // TODO = convert the loadRefSetGrid function to start with the data already queried: <%#= raw @concept_refsets.to_json %>
        WindowManager.viewers[<%= @viewer_id %>].loadRefsetGrid()
        WindowManager.viewers[<%= @viewer_id %>].setPanelState('komet_concept_refsets_panel_<%= @viewer_id %>', null, null);
    </script>
<% end %>
