<div class="panel panel-default komet-no-margins komet-panel" id="komet_concept_panel_<%= @viewer_id %>">
  <div class="panel-heading">
    <span class="panel-title komet-section-title">
      <div class="glyphicon glyphicon-link" onclick="ConceptsModule.viewers[<%= @viewer_id %>].linkToTaxonomyTree();" title="Show in Taxonomy Tree"></div>
      Concept Details
    </span>
    <div class="komet-panel-tools">
      <div class="glyphicon glyphicon-new-window"></div>
      <div class="glyphicon glyphicon-resize-full"></div>
      <div class="glyphicon glyphicon-remove"></div>
    </div>
  </div>

  <div class="panel-body">

    <div class="komet-concept-body-tools">
      <div class="glyphicon glyphicon-plus-sign" onclick="ConceptsModule.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_panel_<%= @viewer_id %>')"></div>
      <span>Expand All</span>

      <div class="komet-flex-right">
        <select id="komet_concept_stated_inferred_<%= @viewer_id %>" class="form-control komet-stated-inferred" onchange="ConceptsModule.setStatedView(<%= @viewer_id %>, this)">
          <option value="true">Stated View</option>
          <option value="false">Inferred View</option>
        </select>
      </div>
    </div>

    <!-- concept definition section -->
    <div id="komet_concept_definition_section_<%= @viewer_id %>" class="concept-section"></div>
    <div id="komet_concept_sememes_section_<%= @viewer_id %>" class="concept-section"></div>
    <div id="komet_concept_lineage_section_<%= @viewer_id %>" class="concept-section"></div>
    <div id="komet_concept_diagram_section_<%= @viewer_id %>" class="concept-section"></div>

  </div>
</div>

<script>

  if (!ConceptsModule.viewers.hasOwnProperty('<%= @viewer_id %>')) {
    ConceptsModule.createViewer("<%= @viewer_id %>", "<%= @concept_id %>");
  } else {
    ConceptsModule.viewers[<%= @viewer_id %>].currentConceptID = "<%= @concept_id %>";
  }

  $('#komet_concept_definition_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_definition')) %>");
  $('#komet_concept_sememes_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_sememes')) %>");
  $('#komet_concept_lineage_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_lineage')) %>");
  $('#komet_concept_diagram_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_diagram')) %>");

  $(document).ready(function () {

    $("#komet_concept_stated_inferred_<%= @viewer_id %> option").filter(function() {
      return $(this)[0].value == "<%= @stated %>";
    }).prop('selected', true);

    ConceptsModule.viewers[<%= @viewer_id %>].restorePanelStates();
    ConceptsModule.viewers[<%= @viewer_id %>].loadLineageTrees();
    UIHelper.initializeContextMenus();
  });
</script>
