<div class="panel panel-default komet-no-margins komet-panel" id="komet_viewer_<%= @viewer_id %>" data-komet-viewer-id="<%= @viewer_id %>">
    <!-- DO NOT PUT ANYTHING ABOVE THE KOMET VIEWER DIV - IT WILL BREAK WINDOWING WHEN CLOSING VIEWERS AND BE REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER -->

    <div class="panel-heading">
        <span class="panel-title komet-section-title komet-context-menu"
              data-menu-type="concept"
              data-menu-uuid="<%= @concept_id %>"
              data-menu-concept-text="<%= @concept_text %>"
              data-menu-concept-terminology-type="<%= @concept_terminology_type %>"
              data-menu-state="<%= @concept_state %>"
        >
            <button type="button" aria-controls="button" class="komet-link-button" onclick="WindowManager.toggleViewerLinkage('<%= @viewer_id %>', WindowManager.getLinkedViewerID() != '<%= @viewer_id %>');"  title="Viewer linked to Taxonomy Tree. Click to unlink.">
                <span id="komet_concept_panel_tree_link_<%= @viewer_id %>" class="fa fa-chain-broken"></span>
            </button>
            <button type="button" id="komet_concept_panel_tree_show_<%= @viewer_id %>" class="komet-link-button" onclick="WindowManager.viewers[<%= @viewer_id %>].showInTaxonomyTree();" aria-labelledby="Show in Taxonomy Tree" title="Show in Taxonomy Tree">
                <span class="fa fa-tree"></span>
            </button>
            <%= @concept_text %>
        </span>

        <div class="komet-panel-tools">

            <button type="button" class="komet-link-button komet-panel-tools-control" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_viewer_<%= @viewer_id %>')"  title="Expand All">
                <div class="glyphicon glyphicon-plus-sign" title="Expand All"></div>
                <span>Expand All</span>
            </button>

          <% if can_edit_concept? %>
            <button type="button" class="komet-link-button komet-panel-tools-control" onclick="$.publish(KometChannels.Taxonomy.taxonomyConceptEditorChannel, ['<%= @concept_id %>', '<%= @viewer_id %>', WindowManager.INLINE]);"  title="Edit Concept">
                <div class="fa fa-pencil-square" title="Edit Concept"></div>
                <span>Edit Concept</span>
            </button>
          <% end %>

          <div class="komet-panel-tools-control">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" for="komet_concept_stated_<%= @viewer_id %>">
                        <input type="radio" name="komet_concept_stated_inferred" id="komet_concept_stated_<%= @viewer_id %>" value="true" autocomplete="off" title="Stated View"> Stated
                    </label>
                    <label class="btn btn-default" for="komet_concept_inferred_<%= @viewer_id %>">
                        <input type="radio" name="komet_concept_stated_inferred" id="komet_concept_inferred_<%= @viewer_id %>" value="false" autocomplete="off" title="Inferred View"> Inferred
                    </label>
                </div>
            </div>

            <button type="button" class="komet-link-button" onclick="WindowManager.closeViewer('<%= @viewer_id %>')" title="Close Viewer">
                <div class="glyphicon glyphicon-remove"></div>
            </button>
        </div>
    </div>

    <div class="panel-body">

        <div id="komet_concept_attributes_section_<%= @viewer_id %>" class="komet-concept-section"></div>
        <div id="komet_concept_descriptions_section_<%= @viewer_id %>" class="komet-concept-section"></div>
        <div id="komet_concept_sememes_section_<%= @viewer_id %>" class="komet-concept-section"></div>
        <div id="komet_concept_lineage_section_<%= @viewer_id %>" class="komet-concept-section"></div>
        <div id="komet_concept_diagram_section_<%= @viewer_id %>" class="komet-concept-section"></div>
        <div id="komet_concept_refsets_section_<%= @viewer_id %>" class="komet-concept-section"></div>

    </div>

    <script>

        if (!WindowManager.viewers.hasOwnProperty('<%= @viewer_id %>') || !(WindowManager.viewers[<%= @viewer_id %>] instanceof ConceptViewer)) {
            ConceptsModule.createViewer("<%= @viewer_id %>", "<%= @concept_id %>", "<%= @viewer_action %>");
        } else {

            WindowManager.viewers[<%= @viewer_id %>].currentConceptID = "<%= @concept_id %>";
            WindowManager.viewers[<%= @viewer_id %>].viewerAction = "<%= @viewer_action %>";

            if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>") {
                WindowManager.viewers["<%= @viewer_id %>"].swapLinkIcon(true);
            }
        }

        if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>" && TaxonomyModule.tree.selectedConceptID != WindowManager.viewers[<%= @viewer_id %>].currentConceptID) {
            WindowManager.viewers[<%= @viewer_id %>].showInTaxonomyTree();
        }

        $('#komet_concept_attributes_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_attributes')) %>");
        $('#komet_concept_descriptions_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_descriptions')) %>");
        $('#komet_concept_sememes_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_sememes')) %>");
        $('#komet_concept_lineage_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_lineage')) %>");
        $('#komet_concept_diagram_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_diagram')) %>");
        $('#komet_concept_refsets_section_<%= @viewer_id %>').html("<%= j(render(:partial => 'komet_dashboard/concept_detail/concept_refsets')) %>");

        $(document).ready(function () {

            var stated = $("#komet_viewer_<%= @viewer_id %>").find("input[name='komet_concept_stated_inferred']");

            stated.change(function(){

                stated.parent().toggleClass("btn-primary btn-default");
                ConceptsModule.setStatedView("<%= @viewer_id %>", this);
            });

            stated.each(function(index, button){

                if (button.value == "<%= @stated %>"){

                    var buttonParent = button.parentElement;

                    button.checked = true;
                    buttonParent.classList.add('btn-primary');
                    $(buttonParent).removeClass("btn-default");
                }
            });

            WindowManager.viewers[<%= @viewer_id %>].restorePanelStates();
            WindowManager.viewers[<%= @viewer_id %>].loadLineageTrees();
            UIHelper.initializeContextMenus();
        });
    </script>

    <!-- DO NOT PUT ANYTHING ABOVE THE BELOW THIS LAST DIV - IT WILL GET REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER-->
</div>