<div class="panel panel-default komet-no-margins komet-panel komet-concept-create" id="komet_viewer_<%= @viewer_id %>" data-komet-viewer-id="<%= @viewer_id %>">
    <!-- DO NOT PUT ANYTHING ABOVE THE KOMET VIEWER DIV - IT WILL BREAK WINDOWING WHEN CLOSING VIEWERS AND BE REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER -->

    <%= form_tag(taxonomy_create_concept_path, method: 'post', id: "komet_concept_editor_form_#{@viewer_id}") do %>

        <div class="panel-heading">
            <span class="panel-title komet-section-title">
              <span id="komet_concept_panel_tree_link_<%= @viewer_id %>" class="fa fa-chain-broken" onclick="WindowManager.toggleViewerLinkage('<%= @viewer_id %>', WindowManager.getLinkedViewerID() != '<%= @viewer_id %>');" title="Viewer linked to Taxonomy Tree. Click to unlink."></span>
                New Concept
            </span>

            <div class="komet-panel-tools">
                <!--<div class="glyphicon glyphicon-new-window"></div>
                <div class="glyphicon glyphicon-resize-full"></div>-->
                <div class="glyphicon glyphicon-remove" onclick="WindowManager.closeViewer('<%= @viewer_id %>')"></div>
            </div>
        </div>

        <div class="panel-body" id="komet_concept_editor_section_<%= @viewer_id %>">

            <div id="komet_concept_save_section_<%= @viewer_id %>">
                All fields required except where noted as Optional.
                <button type="button" class="btn btn-default" onclick="WindowManager.viewers[<%= @viewer_id %>].cancelAction('<%= @viewer_previous_content_type %>', '<%= @viewer_previous_content_id %>')">Cancel</button>
                <button type="button" class="btn btn-primary ui-state-disabled" id="komet_concept_save_<%= @viewer_id %>" onclick="WindowManager.viewers[<%= @viewer_id %>].showSaveSection('confirm')">Save</button>
            </div>

            <div class="komet-concept-section-title komet-concept-associations-title">ASSOCIATIONS</div>

            <div id="komet_concept_associations_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-associations-panel">
                <div class="komet-concept-section-panel-details komet-changeable">
                    <autosuggest
                        id-base="komet_create_concept_parent"
                        id-postfix="_<%= @viewer_id %>"
                        label="Parent"
                        value="<%= @parent_id %>"
                        display-value="<%= @parent_text %>"
                        type-value="<%= @parent_type %>"
                        suggestion-onchange-function="WindowManager.viewers[<%= @viewer_id %>].conceptEditorParentOnChange()"
                    ></autosuggest>
                </div>
            </div>

            <div class="komet-concept-section-title komet-concept-description-title">DESCRIPTIONS</div>

            <div id="komet_concept_description_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-description-panel">

                <div class="komet-concept-section-panel-details">

                    <div class="komet-changeable">
                        <div>
                            <b>Preferred Name</b>
                            <span id="komet_create_concept_fsn_note_<%= @viewer_id %>"> (also used as FSN)</span>
                        </div>
                        <input name="komet_create_concept_description" id="komet_create_concept_description_<%= @viewer_id %>" class="form-control">
                    </div>

                    <div id="komet_create_concept_description_type_section_<%= @viewer_id %>" class="komet-changeable hide">
                        <div><b>Extended Description Type: (optional)</b></div>

                        <select name="komet_create_concept_description_type" id="komet_create_concept_description_type_<%= @viewer_id %>" class="form-control">

                            <option selected value=""></option>

                            <% @description_types.each do |type| %>

                                <option value="<%= type[:concept_id] %>"><%= type[:description] %></option>
                            <% end %>

                        </select>
                    </div>

                    <div id="komet_create_concept_description_display_<%= @viewer_id %>" class="hide">
                        <div><b>Fully Specified Name:</b></div>
                        <div id="komet_create_concept_fsn_<%= @viewer_id %>"></div>
                    </div>

                </div>
            </div>
        </div>
    <% end # end form %>

    <script>

        if (!WindowManager.viewers.hasOwnProperty('<%= @viewer_id %>') || !(WindowManager.viewers[<%= @viewer_id %>] instanceof ConceptViewer)) {
            ConceptsModule.createViewer("<%= @viewer_id %>", null, "<%= @viewer_action %>");
        } else {

            WindowManager.viewers[<%= @viewer_id %>].currentConceptID = null;
            WindowManager.viewers[<%= @viewer_id %>].viewerAction = "<%= @viewer_action %>";

            if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>") {
                WindowManager.viewers["<%= @viewer_id %>"].swapLinkIcon(true);
            }
        }

        $(document).ready(function () {

            WindowManager.viewers[<%= @viewer_id %>].createConcept();
            UIHelper.initializeContextMenus();
        });
    </script>

    <!-- DO NOT PUT ANYTHING ABOVE THE BELOW THIS LAST DIV - IT WILL GET REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER-->
</div>