<div class="komet-concept-section-title komet-concept-lineage-title">LINEAGE</div>

<div id="komet_concept_lineage_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-lineage-panel">

    <!-- main header block - always visible -->
    <div class="komet-concept-section-panel-header">

        <!-- expand/collapse icon - controls details drawer -->
        <div class="glyphicon glyphicon-plus-sign" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_lineage_panel_<%= @viewer_id %>', null, true)"></div>

        <!-- description type, refset -->
        <div>
            Parent:
            <span id="concept_lineage_header_text_<%= @viewer_id %>">No Parent</span>
        </div>

    </div>

    <!-- details drawer - can be collapsed -->
    <div class="komet-concept-section-panel-details">

        <div class="komet-concept-lineage-tree-container">
            <div>Parents</div>
            <div id="concept_lineage_parents_tree_<%= @viewer_id %>" class="komet-reverse-tree">No Parents</div>
        </div>

        <div class="komet-concept-lineage-summary-container">
            <div class="komet-concept-lineage-summary-details">

                <div class="komet-concept-lineage-summary-text">

                    <!-- Defined -->
                    <% if @concept_defined == 'Primitive' %>
                        <div class="komet-tree-node-icon komet-tree-node-primitive" title="<%= @concept_defined %>"></div>
                    <% else %>
                        <div class="komet-tree-node-icon komet-tree-node-defined" title="<%= @concept_defined %>"></div>
                    <% end %>

                    &nbsp; <%= @concept_text %>

                </div>

                <div>UUID: <%= @concept_id %></div>

                <% if @terminology_id %>
                    <div><%= @terminology_id[:label] %>: <%= @terminology_id[:value] %></div>
                <% end %>

                <hr class="komet-concept-details-hr">

                <% @descriptions.each do |description| %>
                    <div><%= description[:text] %></div>
                <% end %>

            </div>

            <!--<div class="komet-concept-lineage-summary-attributes">
                  No Attributes
            </div>-->

        </div>

        <div class="komet-concept-lineage-tree-container">
            <div>Children</div>
            <div id="concept_lineage_children_tree_<%= @viewer_id %>">No Children</div>
        </div>

    </div>

</div>

<script>
    WindowManager.viewers[<%= @viewer_id %>].setPanelState('komet_concept_lineage_panel_<%= @viewer_id %>', null, null);
</script>