<div class="panel panel-default komet-no-margins komet-panel komet-concept-edit" id="komet_viewer_<%= @viewer_id %>" data-komet-viewer-id="<%= @viewer_id %>">
    <!-- DO NOT PUT ANYTHING ABOVE THE KOMET VIEWER DIV - IT WILL BREAK WINDOWING WHEN CLOSING VIEWERS AND BE REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER -->

    <%= form_tag(taxonomy_edit_concept_path, method: 'post', id: "komet_concept_editor_form_#{@viewer_id}") do %>

        <input type="hidden" name="concept_id" value="<%= @concept_id %>">
      <fieldset><legend style="width: 0px;height:0px">&nbsp;</legend>
        <div class="panel-heading">
            <span class="panel-title komet-section-title">
                <button type="button" class="komet-link-button" onclick="WindowManager.toggleViewerLinkage('<%= @viewer_id %>', WindowManager.getLinkedViewerID() != '<%= @viewer_id %>');" aria-label="Viewer linked to Taxonomy Tree. Click to unlink." title="Viewer linked to Taxonomy Tree. Click to unlink.">
                    <span id="komet_concept_panel_tree_link_<%= @viewer_id %>" class="fa fa-chain-broken" ></span>
                </button>
                <button type="button" id="komet_concept_panel_tree_show_<%= @viewer_id %>" class="komet-link-button" onclick="WindowManager.viewers[<%= @viewer_id %>].showInTaxonomyTree();" aria-label="Show in Taxonomy Tree" title="Show in Taxonomy Tree">
                    <span class="fa fa-tree"></span>
                </button>

                <% if @viewer_action == 'edit_concept' %>
                    Edit: <%= @concept_text %>
                <% else %>
                    Clone Concept: <%= @concept_text %>
                <% end %>
            </span>

            <div class="komet-panel-tools">

                <div class="komet-panel-tools-control">
                    <label for="komet_concept_editor_show_changes_<%= @viewer_id %>">Show Changes</label>
                    <input type="checkbox" id="komet_concept_editor_show_changes_<%= @viewer_id %>" onclick="WindowManager.viewers[<%= @viewer_id %>].toggleEditorChangeHighlights(this)">
                </div>

                <div class="komet-panel-tools-control">
                    <label for="komet_concept_editor_properties_<%= @viewer_id %>">Properties</label>
                    <input type="checkbox" id="komet_concept_editor_properties_<%= @viewer_id %>" checked onclick="WindowManager.viewers[<%= @viewer_id %>].toggleProperties()">
                </div>

                <button type="button" class="komet-link-button" onclick="WindowManager.closeViewer('<%= @viewer_id %>')" aria-label="Close Viewer" title="Close Viewer">
                    <div class="glyphicon glyphicon-remove"></div>
                </button>
            </div>
        </div>
        </fieldset>
        <div class="panel-body" id="komet_concept_editor_section_<%= @viewer_id %>">

            <div id="komet_concept_save_section_<%= @viewer_id %>">
                All fields required except where noted as Optional.
                <button type="button" class="btn btn-default" onclick="WindowManager.cancelEditMode('<%= @viewer_id %>')">Cancel</button>
                <button type="button" class="btn btn-primary" id="komet_concept_save_<%= @viewer_id %>" onclick="WindowManager.viewers[<%= @viewer_id %>].showSaveSection('confirm')">Save</button>
            </div>

            <div class="komet-concept-section-title komet-concept-attributes-title">Concept</div>

            <div id="komet_concept_attributes_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-attributes-panel">

                <div class="komet-concept-section-panel-details">

                    <div id="komet_concept_edit_concept_row_<%= @viewer_id %>" class="komet-concept-edit-row komet-concept-edit-attributes-row komet-changeable">

                        <% if @viewer_action == 'clone_concept' %>

                            <div>

                                <autosuggest
                                id-base="komet_concept_edit_parent"
                                id-postfix="_<%= @viewer_id %>"
                                label="Parent"
                                value="<%= @parent_id %>"
                                display-value="<%= @parent_text %>"
                                type-value="<%= @parent_type %>"
                                suggestion-onchange-function="WindowManager.viewers[<%= @viewer_id %>].conceptEditorParentOnChange()"
                                classes="komet-concept-edit-parent"
                                ></autosuggest>
                            </div>

                        <% else %>

                            <div class="komet-concept-attributes-details-name">
                                <b>UUID:</b> <%= @concept_id %>
                            </div>

                        <% end %>

                        <!-- Defined -->
                        <div>
                            <% if @concept_defined == 'Primitive' %>
                                <div id="lbl_<%= @concept_defined %>" class="komet-tree-node-icon komet-tree-node-primitive"></div> &nbsp; <%= @concept_defined %>
                            <% else %>
                                <div id="lbl_<%= @concept_defined %>" class="komet-tree-node-icon komet-tree-node-defined"></div> &nbsp; <%= @concept_defined %>
                            <% end %>
                        </div>

                        <!-- Status -->
                        <div class="komet-concept-attributes-status">
                            <select name="concept_state" aria-labelledby="lbl_<%= @concept_defined %>">
                                <option value="Active" <% if @concept_state.downcase == 'active' %> selected <% end %>>Active</option>
                                <option value="Inactive"<% if @concept_state.downcase == 'inactive' %> selected <% end %>>Inactive</option>
                            </select>
                        </div>

                    </div>

                    <div class="komet-indent-block komet-concept-properties-section">
                        <div class="komet-concept-section-title komet-concept-attributes-title">
                            Properties
                            <div class="komet-flex-right">
                                <button type="button" class="komet-link-button komet-concept-add-concept-property" onclick="WindowManager.viewers[<%= @viewer_id %>].addPropertyRow('<%= @concept_id %>', this, 'concept')">
                                    Add Property <div class="glyphicon glyphicon-plus-sign"></div>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="komet-concept-section-title komet-concept-description-title">
                DESCRIPTIONS
                <div class="komet-flex-right">
                    <button type="button" class="komet-link-button komet-concept-add-description" onclick="WindowManager.viewers[<%= @viewer_id %>].addDescriptionRow()">
                        Add Description
                        <div class="glyphicon glyphicon-plus-sign"></div>
                    </button>
                </div>
            </div>

            <div class="komet-concept-section-title komet-concept-associations-title">
                ASSOCIATIONS
                <div class="komet-flex-right">
                    <button type="button" class="komet-link-button komet-concept-add-association" onclick="WindowManager.viewers[<%= @viewer_id %>].addAssociationRow()">
                        Add Association
                        <div class="glyphicon glyphicon-plus-sign"></div>
                    </button>
                </div>
            </div>

            <div id="komet_concept_associations_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-associations-panel">
                <div class="komet-concept-section-panel-details"></div>
            </div>

        </div>
    <% end # end form  %>

    <script>

        if (!WindowManager.viewers.hasOwnProperty('<%= @viewer_id %>') || !(WindowManager.viewers[<%= @viewer_id %>] instanceof ConceptViewer)) {
            ConceptsModule.createViewer("<%= @viewer_id %>", "<%= @concept_id %>", "<%= @viewer_action %>");
        } else {

            WindowManager.viewers[<%= @viewer_id %>].currentConceptID = "<%= @concept_id %>";
            WindowManager.viewers[<%= @viewer_id %>].viewerAction = "<%= @viewer_action %>";

            if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>") {
                WindowManager.viewers[<%= @viewer_id %>].swapLinkIcon(true);
            }
        }

        if (WindowManager.getLinkedViewerID() == "<%= @viewer_id %>" && TaxonomyModule.tree.selectedConceptID != WindowManager.viewers[<%= @viewer_id %>].currentConceptID) {
            WindowManager.viewers[<%= @viewer_id %>].showInTaxonomyTree();
        }

        $(document).ready(function () {

            var selectOptions = {
                language: <%= raw @language_options.to_json %>,
                dialect: <%= raw @dialect_options.to_json %>,
                case: <%= raw @case_options.to_json %>,
                acceptability: <%= raw @acceptability_options.to_json %>,
                descriptionType: <%= raw @description_type_options.to_json %>,
                associationType: <%= raw @association_type_options.to_json %>
            };

            WindowManager.viewers[<%= @viewer_id %>].editConcept(<%= raw @attributes.to_json %>, <%= raw @concept_sememes.to_json %>, <%= raw @descriptions.to_json %>, <%= raw @associations.to_json %>, selectOptions);
            UIHelper.initializeContextMenus();
        });
    </script>

    <!-- DO NOT PUT ANYTHING ABOVE THE BELOW THIS LAST DIV - IT WILL GET REPEATED EVERY TIME NEW CONTENT IS LOADED TO INLINE VIEWER-->
</div>