<div class="komet-concept-lineage-title">LINEAGE&nbsp;&nbsp;<i onclick="UIHelper.openEditConcept('lineage')" class="fa fa-pencil-square" style="color:#000000" aria-hidden="true"></i></div>

  <div id="komet_concept_lineage_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-lineage-panel">

    <!-- main header block - always visible -->
    <div class="komet-concept-section-panel-header">

      <!-- expand/collapse icon - controls details drawer -->
      <div class="glyphicon glyphicon-plus-sign" onclick="WindowManager.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_lineage_panel_<%= @viewer_id %>', null, true)"></div>

      <!-- description type, refset -->
      <div>
        Parent:
        <span id="concept_lineage_header_text_<%= @viewer_id %>">No Parent</span>
      </div>

    </div>

    <!-- details drawer - can be collapsed -->
    <div class="komet-concept-section-panel-details">

      <div class="komet-concept-lineage-tree-container">
        <div>Parents</div>
        <div id="concept_lineage_parents_tree_<%= @viewer_id %>" class="komet-reverse-tree">No Parents</div>
      </div>

      <div class="komet-concept-lineage-summary-container">
        <div class="komet-concept-lineage-summary-details">

          <div class="komet-concept-lineage-summary-text">

            <!-- Defined -->
            <% if @attributes[2][:value] == 'Primitive' %>
                <div class="komet-tree-node-icon komet-tree-node-primitive" title="<%= @attributes[2][:value] %>"></div>
            <% elsif @attributes[2][:value] == 'Defined' %>
                <div class="komet-tree-node-icon komet-tree-node-defined" title="<%= @attributes[2][:value] %>"></div>
            <% end %>

            &nbsp; <%= @attributes[0][:value] %>

          </div>

          <div>
            <% if @attributes[8] %>
                <%= @attributes[8][:label] %>: <%= @attributes[8][:value] %>
            <% elsif @attributes[7] %>
                <%= @attributes[7][:label] %>: <%= @attributes[7][:value] %>
            <% end %>
          </div>

          <hr class="komet-concept-details-hr">

          <% @descriptions[:descriptions].each do |description| %>
              <div><%= description[:text] %></div>
          <% end %>

        </div>

        <!--<div class="komet-concept-lineage-summary-attributes">
              No Attributes
        </div>-->

      </div>

      <div class="komet-concept-lineage-tree-container">
        <div>Children</div>
        <div id="concept_lineage_children_tree_<%= @viewer_id %>">No Children</div>
      </div>

    </div>

  </div>

<script>
  WindowManager.viewers[<%= @viewer_id %>].setPanelState('komet_concept_lineage_panel_<%= @viewer_id %>', null, null);

  var json = [{
    "id": 6589162692398264,
    "concept_id": "eb30252e-8ae6-5e24-94f3-99748ee5dca4",
    "text": "Specimen Physical properties, artifacts\u0026nbsp;\u0026nbsp;\u003cspan class=\"badge badge-success\" title=\"kma\"\u003e1\u003c/span\u003e",
    "parent_reversed": "true",
    "parent_search": "true",
    "icon": "komet-tree-node-icon komet-tree-node-primitive-arrow",
    "a_attr": {
      "class": "komet-context-menu komet-reverse-tree-node",
      "data-menu-type": "concept",
      "data-menu-uuid": "eb30252e-8ae6-5e24-94f3-99748ee5dca4"
    },
    "parent": "#",
    "state": {"opened": "true"}
  }, {
    "id": 6589162692746149,
    "concept_id": "9ea706c0-a997-5686-bdfd-8d75f39e282f",
    "text": "Chemistry\u0026nbsp;\u0026nbsp;\u003cspan class=\"badge badge-success\" title=\"kma\"\u003e1\u003c/span\u003e",
    "parent_reversed": "true",
    "parent_search": "true",
    "icon": "komet-tree-node-icon komet-tree-node-primitive-arrow",
    "a_attr": {
      "class": "komet-context-menu komet-reverse-tree-node",
      "data-menu-type": "concept",
      "data-menu-uuid": "9ea706c0-a997-5686-bdfd-8d75f39e282f"
    },
    "parent": "6589162692398264",
    "state": {"opened": "true"}
  }, {
    "id": 6589162693094742,
    "concept_id": "bf3e0380-14bf-5502-81b8-faff971f706d",
    "text": "LOINC\u0026nbsp;\u0026nbsp;\u003cspan class=\"badge badge-success\" title=\"kma\"\u003e1\u003c/span\u003e",
    "parent_reversed": "true",
    "parent_search": "true",
    "icon": "komet-tree-node-icon komet-tree-node-primitive-arrow",
    "a_attr": {
      "class": "komet-context-menu komet-reverse-tree-node",
      "data-menu-type": "concept",
      "data-menu-uuid": "bf3e0380-14bf-5502-81b8-faff971f706d"
    },
    "parent": "6589162692746149",
    "state": {"opened": "true"}
  }, {
    "id": 6589162693435196,
    "concept_id": "7c21b6c5-cf11-5af9-893b-743f004c97f5",
    "text": "ISAAC root (ISAAC)",
    "parent_reversed": "true",
    "parent_search": "true",
    "icon": "komet-tree-node-icon komet-tree-node-primitive-arrow",
    "a_attr": {
      "class": "komet-context-menu komet-reverse-tree-node",
      "data-menu-type": "concept",
      "data-menu-uuid": "7c21b6c5-cf11-5af9-893b-743f004c97f5"
    },
    "parent": "6589162693094742",
    "children": false
  }];

  var json2 = ["Node 1", "Node 2"];

  var settings = {
    "core": {
      "animation": 0,
      "check_callback": true,
      "themes": {"stripes": true},
      'data': json
    }
  };

  var tree = $("#concept_lineage_children_tree2_<%= @viewer_id %>").jstree(settings);

</script>