<div class="komet-concept-attributes-title">ATTRIBUTES</div>

  <div id="komet_concept_attributes_panel_<%= @viewer_id %>" class="komet-concept-section-panel komet-concept-attributes-panel">

    <!-- main header block - always visible -->
    <div class="komet-concept-section-panel-header">

      <!-- expand/collapse icon - controls details drawer -->
      <div class="glyphicon glyphicon-plus-sign" onclick="ConceptsModule.viewers[<%= @viewer_id %>].togglePanelDetails('komet_concept_attributes_panel_<%= @viewer_id %>', null, true)"></div>

      <!-- Status -->
      <div class="komet-concept-attributes-status">
        <%= @attributes[1][:value] %>
      </div>

      <!-- Defined -->
      <div>
        <% if @attributes[2][:value] == 'Primitive' %>
            <div class="komet-tree-node-icon komet-tree-node-primitive" title="<%= @attributes[2][:value] %>"></div>
        <% else %>
            <div class="komet-tree-node-icon komet-tree-node-defined" title="<%= @attributes[2][:value] %>"></div>
        <% end %>
      </div>

    </div>

    <!-- details drawer - can be collapsed -->
    <div class="komet-concept-section-panel-details">

      <!-- loop through the attributes attributes -->
      <% @attributes.drop(3).each_with_index do |attribute, attribute_index| %>

          <% if attribute_index > 0 %>
              <hr class="komet-concept-details-hr" />
          <% end %>

          <div class="komet-concept-attributes-details-row">

            <div class="komet-concept-attributes-details-name">
              <b><%= attribute[:label] %>:</b> <%= attribute[:value] %>
            </div>

          </div>

      <% end %>

    </div>

  </div>

<script>
  ConceptsModule.viewers[<%= @viewer_id %>].setPanelState('komet_concept_attributes_panel_<%= @viewer_id %>', null, null);
</script>
