<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<nav class="komet-navbar" role="navigation" aria-label="Main menu">

  <div class="komet-navbar-header" role="navigation">
    <div class="komet-logo-komet" title="KOMET">KOMET</div>
    <div class="komet-logo-tooling" title="Tooling">Tooling</div>
  </div>

  <div class="komet-navbar-navigation" role="navigation">

    <div>
      <button type="button" class="komet-link-button" onclick="location.replace('<%= komet_dashboard_dashboard_path %>')" title="Taxonomy Dashboard" role="navigation">Taxonomy
        Dashboard
      </button>
    </div>

    <!--<div>-->
    <!--<button type="button" class="komet-link-button" onclick="location.replace('<%#= workflow_dashboard_path %>')" title="Workflows" role="navigation">Workflows</button>-->
    <!--</div>-->

    <% if controller.can_edit_concept? %>
        <div class="dropdown" role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Actions">Actions
            <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-hidden="true" aria-label="submenu">
            <li role="menuitem">
              <a href="#"  onclick="$.publish(KometChannels.Taxonomy.taxonomyConceptEditorChannel, [null, WindowManager.getLinkedViewerID(), WindowManager.INLINE]); return false;" title="Create New Concept">Create
                New Concept</a></li>
            <li role="menuitem">
              <a href="#"  onclick="MappingModule.createNewMapSet(true); return false;" title="Create New Map">Create New
                Map</a></li>
          </ul>
        </div>
    <% end %>
  </div>

  <div class="komet-navbar-tools" role="navigation">
    <div>
      <button type="button" class="komet-link-button" role="button"   aria-label="VHAT XML Export"  title="VHAT XML Export" id="komet_export_link" role="navigation">
        <div class="glyphicon glyphicon-export"></div>
      </button>
    </div>

    <div>
      <button type="button" class="komet-link-button" role="button"  aria-label="Settings"  title="Settings" id="komet_user_preference_link" role="navigation">
        <div class="glyphicon glyphicon-cog"></div>
      </button>
    </div>

    <div>
      <div class="glyphicon glyphicon-user" title="User ID"></div> <%= raw komet_user %></div>

    <div>
      <button type="button" class="komet-link-button" id="logout" onclick="location.replace('<%= logout_path %>')" title="Logout" role="navigation">
        <div class="glyphicon glyphicon-log-out" title="Logout"></div>
        Logout
      </button>
    </div>
  </div>

</nav>

<div id="komet_user_preference_form" title="User's Preference">
  <div id="komet_preferences_tabs" role="tab">
    <ul>
      <li><a href='#useroptions' title="Options">Options</a></li>
      <li><a href='#color-module' title="Color Module">Color Module</a></li>
      <li><a href='#colorpath-module' title="Color Path">Color Path</a></li>
      <li><a href='#komet_preferences_refsets_colors' title="Color Refsets">Color Refsets</a></li>
    </ul>
    <div id="useroptions">
      <form>
        <div>
          <table>
            <tr>
              <td>Select Language:&nbsp;&nbsp;</td>
              <td><select id="komet_concept_language" aria-label="Select Language" tabindex="1" aria-expanded="true" role="listbox">
              </select></td>
            </tr>
          </table>
        </div>
        <br><br>

        <table id="description_type" width='80%' style="z-index:990" cellpadding='2' cellspacing='3'>
        </table>
        <br><br>

        <table id="dialecttbl" width='80%' style="z-index:990" cellpadding='2' cellspacing='3'>
        </table>

        <br><br>

        <div>
          <div width='60%' style="background-color: #4f80d9;color:white;z-index:990">Status</div>
          <input type="radio" name="status" aria-checked="false" aria-label="Active" role="radio" value="Active">Active<br>
          <input type="radio" name="status" aria-checked="false" aria-label="Inactive" role="radio" value="Inactive">InActive<br>
          <input type="radio" name="status" aria-checked="false" aria-label="Active,Inactive" role="radio" checked="checked" value="Active,Inactive">Both<br>
        </div>
      </form>
    </div>
    <div id="color-module" style="height: 3500px;">
      <div>Please click on <font color="red">X</font> to clear color</div>
      <table id="listofmodule" width='90%' cellpadding='2' border='0' cellspacing='3'>
      </table>

    </div>
    <div id="colorpath-module" style="height: 450px;">
      <div>Please click on <font color="red">X</font> to clear color</div>
      <table id="listofpath" width='90%' cellpadding='2' cellspacing='3'>
      </table>
    </div>

    <div id="komet_preferences_refsets_colors" style="height: 450px;">
      <table>
        <tr>
          <td>
            <div id="getdd"></div>
          </td>
          <td>
            &nbsp;&nbsp;<input name="color_id" class="demo" title="Click here to change color" type="hidden" id="color_id" size="1" style="height:25px" data-control="hue" value=""/>
          </td>
          <td>&nbsp;&nbsp;<input name="applybtn" id="applybtn" type="button" value="Apply"/></td>
        </tr>
      </table>
      <BR><BR>
      <table width="90%" cellpadding="5" cellspacing="0" id="komet_preferences_refsets_table"></table>
    </div>
  </div>
</div>

<!--modal window for exporting new and updated concepts -->
<div id="export_modal" class="modal fade modal-wide" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">VHAT XML Export</h2>
      </div>
      <div class="modal-body">
        <%= form_tag(export_path, method: :post, id: 'export_modal_form', name: 'export_modal_form') do %>
            <%= label_tag 'start_date', 'Start Date' %>
            <%= text_field_tag 'start_date', nil, readonly: true, required: true, placeholder: 'Enter the start date for this export', class: 'form-control' %>
            <br>
            <%= label_tag 'end_date', 'End Date' %>
            <%= text_field_tag 'end_date', nil, readonly: true, disabled: true, placeholder: 'Enter the end date for this export (Optional)', class: 'form-control' %>
            <br>
        <% end %>
      </div>
      <hr>
      <div align="center" style="padding-bottom: 10px">
        <div id="buttons_div">
          <span class="btn btn-default" onclick=ExportModule.cancel_export();>Cancel</span>
          <span class="btn btn-default" onclick=ExportModule.submit_export();>Submit</span>
        </div>
      </div>
    </div>
  </div>
</div>

<% if controller.ssoi? %>
  <%= render 'session_timeout/session_timeout_notification' %>
<% end %>

<script>
  $(document).ready(function () {
    $("#komet_preferences_tabs").tabs();
    PreferenceModule.initialize();
    ExportModule.initialize();
  });
</script>
