<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
  .modal-wide .modal-dialog {
    width: 50%; /* or whatever you wish */
  }

  .box {
    display: inline-block;
    padding-left: 15px;
    /*width: 200px;*/
    height: 30px;
    margin: 3px;
  }

  .workflow_actions {
    height: 25px;
    display: inline-block;
    font-size: smaller !important;
    padding: 3px 12px;
    flex: 0 0 auto;
  }
</style>
<nav class="navbar navbar-default" style="background-color:black; width: 100%">
  <!--<div id="komet_navbar_navigation" style="background-color:black;padding:5px ">-->
  <% if user_session(UserSession::WORKFLOW_UUID) %>
      <div class="box" style="color:white; text-align: center">
        Workflow:<span id="edit_workflow_span" style="font-weight: bold; color: greenyellow; padding-left: 10px">Loading Workflow...</span>
      </div>
      <div class="box" style="color:white;">
        <select id="komet_workflow_transition" class="form-control workflow_actions"></select>
      </div>
  <% else %>
      <div class="box" style="color:white;">
        <span id="startbtn" class="btn btn-default">Start Workflow</span>
      </div>
  <% end %>
  <!--</div>-->
</nav>

<!-- Modal -->
<div id="wfl_modal" class="modal fade modal-wide" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Workflow Action</h2>
        <h4>Transition <span id="wfl_title_name" style="color: darkgreen; font-weight: bold"></span> workflow to
          '<span id="wfl_title_action" style="font-weight: bold"></span>'</h4>
      </div>
      <div class="modal-body">
        <%= form_tag workflow_advance_workflow_path do %>
          <input type="hidden" id="transition_uuid" name="transition_uuid"/>
          <div id="transition_addl_info_div"></div>
          <hr>
          <%= label_tag 'wfl_modal_comment', 'Comment' %>
          <%= text_area_tag 'wfl_modal_comment', nil, required: true, placeholder: 'Enter a comment supporting this workflow transition', rows: '3', cols: 76, class: 'form-control' %>
        <% end %>
      </div>
      <hr>
      <div align="center" style="padding-bottom: 10px">
        <span class="btn btn-default" onclick=WorkflowModule.cancel_advancement();>Cancel</span>
        <span class="btn btn-default" onclick=WorkflowModule.advance_workflow();>Submit</span>
      </div>
    </div>
  </div>
</div>


<div id="komet_workflow_form" title="Create Workflow">
  <form id="komet_workflow_create_form" name="komet_workflow_create_form">
    <div>
      <%= label_tag 'txtWorkflow_Name', 'Workflow Name' %><br>
      <%= text_field_tag 'txtWorkflow_Name', nil, required: true, data: {required: true}, placeholder: 'Enter the Workflow Name', maxlength: 75, size: 75, class: 'form-control' %>
    </div>
    <div>
      <%= label_tag 'txtWorkflow_Description', 'Workflow Description' %><br>
      <%= text_area_tag 'txtWorkflow_Description', nil, required: true, placeholder: 'Enter a Description for this Workflow', rows: '5', cols: 76, class: 'form-control' %>
    </div>
  </form>
</div>
<script>

  $(document).ready(function () {
    WorkflowModule.initialize();

    // set focus to the first visible form element in a modal popup
    $("#wfl_modal").on('shown.bs.modal', function () {
      var wfl_modal_form = $(this).find("form");
      var firstInput = $(":input:not(input[type=button],input[type=submit],button):visible:first", wfl_modal_form);
      firstInput.focus();
    });

    <% if user_session(UserSession::WORKFLOW_UUID) %>
    var transitions = $('#komet_workflow_transition');
    transitions.hide();

    $.get(gon.routes.workflow_get_process_path, {}, function (results) {
      console.log('workflow edit process json is ' + JSON.stringify(results));
      $('#edit_workflow_span').text(results.name);
    });
    $.get(gon.routes.workflow_get_transition_path, {}, function (results) {
      transitions.empty();
      transitions.append($('<option>').text("- Select a Workflow Action -").attr('value', ''));
      var options = '';

      for (var i = 0; i < results.length; i++) {
        transitions.append($('<option>').text(results[i].outcomeState).attr('value', results[i].id));
        transitions.show();
      }
    });

    transitions.on('change', function () {
      var option = $(this).find('option:selected');
      var action_uuid = option.val();

      if (action_uuid !== '') {
        // set up the modal display and show it
        $('#wfl_title_name').text($('#edit_workflow_span').text());
        $('#wfl_title_action').text(option.text());

        // set the uuid that is the key of the selected option
        $('#transition_uuid').val(action_uuid);

        $.get(gon.routes.workflow_modal_transition_metadata_path, {action_uuid: action_uuid})
            .done(function (data) {
              $('#transition_addl_info_div').html(data);
            })
            .always(function () {
              $('#wfl_modal').modal('show');
            });
      }
    });
    <% end %>
  });
</script>
